<ion-content>
  <div id="title-content">
    <h1>CashWay Test Login</h1>
  </div>

  <div id="image-content">
    <img id="login-folder-img" src="../../assets/images/2750635_gray-circle-login-user-icon-png-transparent-png.png" alt="login_image">
  </div>

  <form id="login-form" [formGroup]="loginForm"  (ngSubmit)="submitLoginForm()">
    <div id="form-box">
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Holder</ion-label>
          <ion-input formControlName="holder"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Account</ion-label>
          <ion-input formControlName="account"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </div>

      <div id="submit-container">
        <ion-button color="light" type="submit">Login</ion-button>
      </div>
    </div>
  </form>
</ion-content>