ion-content {
    --background: #304057;

    #image-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;

        #login-folder-img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-top: 80px;
        }
    }

    #title-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #ffffff;
    }

    #login-form {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        #form-box {
            border: 1px solid transparent;
            border-radius: 4px;
            box-shadow: -2px 13px 10px -13px #718eb8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;

            .form-input {
                margin: 10% 0;
                height: 20px;
                width: 80%;

                ion-item {
                    border-radius: 4px;
                    box-shadow: -2px 13px 10px -13px #718eb8;
                }
            }

            #submit-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px 0;
                width: 100%;

                ion-button {
                    width: 40%;
                    box-shadow: -2px 13px 10px -13px #718eb8;
                }
            }
        }
    }
}
