<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>User balance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Statements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
