<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Statements</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="(statements$ | async) as statement; else loading">
    <div *ngIf="statement.length > 0; else noData">
      <ion-card *ngFor="let statement of statements$ | async">
        <ion-card-header>
          <ion-card-title id="title-balance-card">DATE {{statement?.attributes?.date}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ul>
            <li>Amount: {{statement?.attributes?.amount}}</li>
            <li>description: {{statement?.attributes?.description}}</li>?
            <li>balance: {{statement?.attributes?.balance}}</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ng-template #noData>
    <div class="info-content">
      <h1>Empty Statement</h1>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="info-content">
      <h1>Loading ...</h1>
    </div>
  </ng-template>
</ion-content>