ion-content {
    --background:  #304057;
}

.info-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50%;

    h1 {
        color: white;
    }
}