ion-content {
    --background: #304057;

    #balance-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        #title-balance-card {
            font-size: 20px;
        }
    }
}
