<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="wrapper">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Balance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="balance-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title id="title-balance-card">{{username}} CURRENT BALANCE</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       <ul>
         <li>Balance: {{balance?.balance}}</li>
         <li>Limit: {{balance?.limit}}</li>
         <li>Available Limit: {{balance?.available_limit}}</li>
         <li>Blocked Amount: {{balance?.blocked_amount}}</li>
       </ul>
      </ion-card-content>
    </ion-card>
  </div>
  
</section>
</ion-content>