ion-content {
    --background:  #304057;

    .logout-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        height: 70%;

       ion-icon {
           border: 1px solid #ffffff;
           border-radius: 4px;
           padding: 10px 20px;
       }
    }
}