<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile configuration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Profile configuration</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logout-container">
      <h1>Logout</h1>
      <ion-icon name="power" (click)="logout()"></ion-icon>
  </div>

</ion-content>
